<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="mb-4">Register</h3>
      <form (ngSubmit)="register()">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" class="form-control dark" [(ngModel)]="name" required>
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="text" id="email" name="email" class="form-control dark" [(ngModel)]="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" class="form-control dark" [(ngModel)]="password" required>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
